body{
    background-color: rgb(70, 202, 255);
    overscroll-behavior:none;
    height: 50000px;
}
canvas {
    position: fixed;
}
h1{
    font-family: 'Kiwi Maru', serif;
    color:#fff;
    font-size: 50px;
    position:fixed;
    z-index: 10;
    text-align: center;
    width: 100%;
}