#pre{
    margin:0;
    background-color: rgb(82, 179, 217);
    overscroll-behavior:none;
    font-family: 'Kiwi Maru', serif;
    color:#fff;
}
#book{
    margin:0;
    background-color: rgb(82, 179, 217);
    overscroll-behavior:none;
    height: 30000px;
}
#watermelon{
    margin:0;
    background-color: rgb(82, 179, 217);
    overscroll-behavior:none;
    height: 75000px;
}
#mybag{
    margin:0;
    background-color: rgb(82, 179, 217);
    overscroll-behavior:none;
    height: 150000px;
}
.hajimeni_wrapper{
    position: absolute;
    width: 100%;
    text-align: center;
}
h2{
    font-size: 70px;
    text-align: center;
    width: 100%;
    margin: 70px 0 0 0;
    padding: 0;
}
#pre .title{
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}
.hajimeni{
    font-size: 17px;
    letter-spacing: 0.05em;
    margin: 10px 0px;
}
#pre img{
    display: inline-block;
    width:45%;
    height:100%;
}
.start{
    display: inline-block;
    text-align: center;
    padding: 15px  20px;
    background-color: #fff;
    border-radius: 30px;
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
}
.start a{
    text-decoration: none;
    color:rgb(75, 75, 75);
    letter-spacing: 0.1em;
}
.start:hover{
    background-color:rgb(255, 201, 184);
}
.start a:visited{
    text-decoration: none;
    color:rgb(75, 75, 75);
}
.content{
    text-align: center;
    padding: 15px  20px;
    background-color: #fff;
    border-radius: 30px;
    position:fixed;
    z-index: 10;
    top:30px;
    left:1200px;
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
}
.content a{
    display: block;
    text-decoration: none;
    color:rgb(75, 75, 75);
    letter-spacing: 0.1em;
}
.content:hover{
    background-color:rgb(255, 201, 184);
}
.content a:visited{
    text-decoration: none;
    color:rgb(75, 75, 75);
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 15;
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
    color:rgb(75, 75, 75);
    letter-spacing: 0.05em;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    border-radius: 50px;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
}
.modal_title{
    font-size:20px;
}
.modal_sentences{
    text-align: left;
    margin:0;
    padding:0;
}
.close_botton{
    display: inline-block;
    text-decoration: none;
    color:rgb(75, 75, 75);
    background-color:rgb(255, 201, 184);
    padding: 15px  25px;
    border-radius: 30px;
}
.close_botton:visited{
    text-decoration: none;
    color:rgb(75, 75, 75);
}
canvas {
    position: fixed;
}
h1{
    font-family: 'Kiwi Maru', serif;
    color:#fff;
    font-size: 70px;
    position:fixed;
    z-index: 10;
    top:20px;
    text-align: center;
    width: 100%;
}
#nav {
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
    position:fixed;
    z-index: 10;
    list-style: none;
}
#nav li{
    text-align: center;
    margin: 15px;
    padding: 15px  20px;
    background-color: #fff;
    border-radius: 30px;
}
#menu1:hover{
    background-color:rgb(255, 241, 113);
}
#menu2:hover{
    background-color:rgb(113, 238, 129);
}
#menu3:hover{
    background-color:rgb(255, 200, 117);
}
#book #nav #menu1 {
    background-color:rgb(255, 241, 113);
}
#watermelon #nav #menu2 {
    background-color:rgb(113, 238, 129);
}
#mybag #nav #menu3 {
    background-color:rgb(255, 200, 117);
}
#nav li a {
    display: block;
    text-decoration: none;
    color:rgb(75, 75, 75);
    letter-spacing: 0.1em
}
#nav li a:visited {
    text-decoration: none;
    color:rgb(75, 75, 75);
}