body{
    background-color: rgb(82, 179, 217);
    overscroll-behavior:none;
    height: 100000px;
}
canvas {
    position: fixed;
}
h1{
    font-family: 'Kiwi Maru', serif;
    color:#fff;
    font-size: 50px;
    position:fixed;
    z-index: 10;
    text-align: center;
    width: 100%;
}